In [6]:
import pyspark
from pyspark.sql import SparkSession
import snappy

In [7]:
spark = SparkSession.builder.\
    config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11").\
    enableHiveSupport().getOrCreate()

In [16]:
path = '/part-00000-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet'
#df_spark = spark.read.format('com.github.saurfang.sas.spark').load(path)

In [13]:
import pandas as pd
import fastparquet
import pyarrow
path = './data/part-00000-b9542815-7a8d-45fc-9c67-c9c5007ad0d4-c000.snappy.parquet'
df = pd.read_parquet(path)

In [14]:
df.count()

cicid       219268
i94yr       219268
i94mon      219268
i94cit      219268
i94res      219268
i94port     219268
arrdate     219268
i94mode     219267
i94addr     211357
depdate     211405
i94bir      219268
i94visa     219268
count       219268
dtadfile    219267
visapost     80747
occup          958
entdepa     219268
entdepd     211405
entdepu         27
matflag     211405
biryear     219268
dtaddto     219262
gender      191524
insnum           0
airline     219266
admnum      219268
fltno       219267
visatype    219268
dtype: int64

In [15]:
df.describe()

,cicid,i94yr,i94mon,i94cit,i94res,arrdate,i94mode,depdate,i94bir,i94visa,count,biryear,admnum
count,219268.000000,219268.0,219268.0,219268.000000,219268.000000,219268.000000,219267.000000,211405.000000,219268.000000,219268.000000,219268.0,219268.000000,2.192680e+05
mean,211413.427910,2016.0,4.0,280.641407,280.726522,20545.637225,1.006462,20561.003926,39.853672,1.869502,1.0,1976.146328,6.894211e+10
std,143310.481225,0.0,0.0,209.791615,207.898439,0.656603,0.084776,22.820768,17.441783,0.405161,0.0,17.441783,2.059554e+10
min,6.000000,2016.0,4.0,101.000000,101.000000,20545.000000,1.000000,20479.000000,0.000000,1.000000,1.0,1916.000000,8.204285e+06
25%,66552.750000,2016.0,4.0,129.000000,123.000000,20545.000000,1.000000,20551.000000,28.000000,2.000000,1.0,1964.000000,5.545980e+10
50%,229331.500000,2016.0,4.0,148.000000,207.000000,20546.000000,1.000000,20554.000000,40.000000,2.000000,1.0,1976.000000,5.552120e+10
75%,298809.250000,2016.0,4.0,438.000000,438.000000,20546.000000,1.000000,20560.000000,52.000000,2.000000,1.0,1988.000000,9.249362e+10
max,459650.000000,2016.0,4.0,999.000000,749.000000,20573.000000,9.000000,20716.000000,100.000000,3.000000,1.0,2016.000000,9.269327e+10